<!-- <div class="container bg-light">
  <span class="text-muted">© 2024 PetShop. Todos os direitos reservados.</span>
</div> -->

<div class="pt-4 container">
  <div class="row">
    <div class="col-md-3">
      <h5>Sobre Nós</h5>
      <p>Somos uma empresa dedicada ao bem-estar dos pets, oferecendo produtos e serviços de qualidade.</p>
    </div>
    <div class="col-md-3">
      <h5>Contato</h5>
      <p>Email: contato@petshop.com</p>
      <p>Telefone: (11) 1234-5678</p>
      <p>Endereço: Rua dos Pets, 123, São Paulo, SP</p>
      <p><a href="https://www.linkedin.com/in/martinbrazon" target="_blank">LinkedIn</a></p>
      <p><a href="https://github.com/MartinGBB" target="_blank">GitHub</a></p>
    </div>

    <div class="col-md-3">
      <h5>Informações Legais</h5>
      <p>© 2024 PetShop. Todos os direitos reservados.</p>
      <p><a href="#">Termos de Uso</a></p>
      <p><a href="#">Política de Privacidade</a></p>
    </div>
  </div>
  </div>