<div class="menu-conteiner btn-group d-flex justify-content-between">
  <button 
    type="button"
    onclick="window.location.href='pages/products.html'"
    class="btn d-flex flex-column align-items-center">
    <i class="fas fa-shopping-bag" style="color: #49C000 "></i>
    Produtos
    </button>

    <button 
      type="button"
      onclick="window.location.href='pages/home.html'"
      class="btn d-flex flex-column align-items-center">
      <i class="fas fa-home" style="color: #49C000"></i>
      Home
    </button>

    <button 
      type="button"
      onclick="window.location.href='pages/services.html'"
      class="btn d-flex flex-column align-items-center">
      <i class="fas fa-concierge-bell" style="color: #49C000"></i>
      Serviços
    </button>
</div>
