<div class="menu-conteiner btn-group d-flex justify-content-between">
  <button 
    type="button"
    id="products"
    data-role="redirect-page"
    data-redirect-to="pages/products"
    class="btn redirect d-flex flex-column align-items-center btn-hover">
      <i class="fas fa-shopping-bag" style="color: #49C000 "></i>
      Produtos
  </button>

  <button 
    type="button"
    id="home"
    data-role="redirect-page"
    data-redirect-to=""
    class="btn redirect d-flex flex-column align-items-center btn-hover">
      <i class="fas fa-home" style="color: #49C000"></i>
      Home
  </button>

  <button 
    type="button"
    id="services"
    data-role="redirect-page"
    data-redirect-to="pages/services" 
    class="btn redirect d-flex flex-column align-items-center btn-hover">
      <i class="fas fa-concierge-bell" style="color: #49C000 "></i>
      Serviços
  </button>
</div>
