/* Componentes da aplicação */
@import url('components/header.css');
@import url('components/menu.css');
@import url('components/footer.css');

/* Páginas da aplicação */
@import url('pages/home.css');

/* Configuração global */
:root {
  --color-primary: #49C000;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-hover:hover {
  transform: scale(1.05);
}

#content {
  /* height: 100%;
  background-color: #49C000; */
}

