/* Componentes da aplicação */
@import url('components/header.css');
@import url('components/menu.css');
@import url('components/footer.css');
@import url('components/support.css');

/* Páginas da aplicação */
@import url('pages/home.css');
@import url('pages/services-details.css');
@import url('pages/products-datails.css');

/* Configuração global */
:root {
  --color-primary: #49C000;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-hover:hover {
  transform: scale(1.05);
}

.container {
  margin-bottom: 2rem;
}

#support {
  position: fixed;
  bottom: 10%;
  right: 4%;
  z-index: 1051;
}
/* Estilo para ajustar o tamanho do botão em telas menores */
@media (max-width: 576px) {
  #support {
    bottom: 70px;
    right: 1%;
  }
}