.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
  text-decoration: none;
  border: 1px solid var(--color-primary);
}

.profile-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
